* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

canvas {
    background-image: linear-gradient(to bottom, #5887f4 70%, #65d331 70% 75%, #d3713b 75% 100%);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px white;
}

.HP_bar{
    position: absolute;
    z-index: 999;
    top: 20px;
    left: 10px;
    width: 15%;
    height: 100px;
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid white;
}
.HP_bar p{
    align-self: start;
    margin: 0px 0px 10px 20px;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
}
.HP_bar p span{
    color: blue;
}
.HP_bar progress{
    width: 80%;
}

.PlayerTwo{
    left: unset;
    right: 10px;
}

.window-restart{
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #999;
    font-size: 20px;
    font-family: sans-serif;
}
.window-restart button{
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    transition: all 0.1s;
}
.window-restart button:active{
    background-color: lightblue;
    transform: scale(1.2);
}




